<div class="corpo">
  <div class="Icones">
    <img src="../../../assets/imgs/Group 2.svg" alt="Ideias" class="Icone-ideias">
    <img src="../../../assets/imgs/notifications_active_FILL0_wght400_GRAD0_opsz48 1.svg" alt="Notificacoes" class="Icone-notificacoes">
    <img src="../../../assets/imgs/edit_FILL0_wght400_GRAD0_opsz48 1.svg" alt="Edition" class="Icone-Edicao">
    <img src="../../../assets/imgs/folder_FILL0_wght400_GRAD0_opsz48 1.svg" alt="Pasta" class="Icone-Pasta">
    <img src="../../../assets/imgs/Remove.svg" alt="Remove" class="Icone-Remover">
  </div>

  <div class="Notas-p-adicionar">
    <input Anotacao="Anotacao" id="Anotar" class="input-Anotar" type="text" placeholder="Crie uma anotação" required Anotacao>
    <img src="../../../assets/imgs/image-removebg-preview 1.svg" alt="Joinha" >
    <h1 class="N-notas">As notas adicionadas estarão exibidas aqui</h1>
  </div>
</div>



