  <header class="Cabecalho">
    <div class="{{nota.tipo}}">
      <p>{{nota.conteudo}}></p>
    </div>

    <div class="Cabecalho">
      <div class="Notas">
        <img src="../../../assets/imgs/6306500.png" alt="Logo" class="Logo-notas">
      </div>

      <div class="Pesquisa">
        <input Pesquisar="Pesquisar" id="Pesquisar" class="input-Pesquisa" type="text" placeholder="  🔍︎  Pesquisar" required pesquisa>
      </div>

      <img src="../../../assets/imgs/Group 6.png" alt="Configelogin">
    </div>
  </header>
  <hr class="Linha">


